@import "tailwindcss";

@theme inline {
  --font-heading: "Gochi Hand", cursive;
  --font-body: "Nunito", sans-serif;
  --color-ink: #111111;
  --color-muted: #6B7280;
  --color-pinkbrand: #F472B6;
  --color-bordergray: #E5E5E5;
}

body {
  background-color: #ffffff;
  color: #111111;
}